@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
  font-family: "Alegreya Sans", sans-serif;
}

header {
  height: 106px;
}

.first-text h3 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0;
  text-transform: none;
  color: #1a5dab;
  font-weight: bold;
  margin: 6px 0;
}

.first-text p {
  font-family: "Alegreya Sans";
  font-weight: regular;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0;
  text-transform: none;
  color: #1a5dab;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.heading-title {
  margin-bottom: 25px;
}
.heading-title h2 {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0;
  text-transform: none;
  color: #2541a1;
  text-align: left;
}

.heading-title h4 {
  color: #1a5dab;
  font-weight: 400;
}

.final-text p {
  font-family: "Alegreya Sans";
  font-weight: regular;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0;
  text-transform: none;
  color: #1a5dab;
}

/* form button {
  background-color: blanchedalmond !important;
  border-color: blueviolet;
  border-radius: 50px;
} */
button[type="submit"] {
  background: rgb(28, 101, 177);
  border: 0;
  padding: 12px 34px;
  transition: 0.4s;
  border-radius: 50px;
  text-decoration: none !important;
  color: #fff !important;
  font-weight: bold;
}
button:hover[type="submit"] {
  background: rgb(46, 49, 146);
}

/* Header Classes */
#request-header nav {
  background-color: #fff !important;
}

.nav-link.active {
  color: #fac033 !important;
}

#request-header li {
  height: auto;
  line-height: 60px;
  font-family: "Alegreya Sans";

  font-size: 21px;
  letter-spacing: 0;
  text-transform: none;
  color: #1a5dab;
}

#request-header a {
  padding: 0 12px;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0;
  text-transform: none;
  color: #1a5dab;
  height: auto;
  line-height: 60px;
  font-family: "Alegreya Sans";
}

.navbar-nav button {
  background: #352c66;
  color: #ffffff !important;
  /* display: inline-block !important; */
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-nav button:hover {
  background: #352c66;
  color: #ffffff !important;
}

.navbar-nav button a {
  color: #ffffff !important;
  text-decoration: none;
  line-height: 40px !important;
}

.dropdown-item {
  color: #fff !important;
  background-color: #1a5dab;
  font-size: 18px !important;
  font-weight: 500 !important;
  text-decoration: none;
}

/* Request-footer */
#request-footer {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #023868;
}

#request-footer h4 {
  color: white;
}
#request-footer hr {
  background-color: white !important;
  width: 20px;
  height: 1px;
  margin: 18px 0 20px 0;
}
.second-text {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0;
  text-transform: none;
  color: #fff;
}

#request-footer li {
  list-style-type: none;
  padding-top: 5px;
}

#request-footer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0;
  padding: 4px 0 4px 0;
}

.third-text {
  color: #fff;
}

.moxman-text {
  background-color: blue;
}

footer {
  /* Selects text inside a <p> tag that is inside a .footer <div> */
  margin-bottom: 0; /* removes default <p> tag margin from the bottom */
}
