@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
  font-family: "Alegreya Sans", sans-serif;
}

header {
  height: 106px;
}

#first-text h3 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0;
  text-transform: none;
  color: #1a5dab;
  font-weight: bold;
  margin: 6px 0;
}

#first-text p {
  font-family: "Alegreya Sans";
  font-weight: regular;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0;
  text-transform: none;
  color: #1a5dab;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.super-heading-title {
  margin-bottom: 25px;
}
.super-heading-title h2 {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0;
  text-transform: none;
  color: #2541a1;
  text-align: left;
}

/* form button {
  background-color: blanchedalmond !important;
  border-color: blueviolet;
  border-radius: 50px;
} */
button {
  background: rgb(28, 101, 177);
  border: 0;
  padding: 12px 34px;
  transition: 0.4s;
  border-radius: 50px;
  text-decoration: none;
}
button:hover {
  background: rgb(46, 49, 146);
}
button a {
  text-decoration: none !important;
  color: #fff !important;
  font-weight: bold;
}
